* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: arial;
    color: black;
    text-decoration: none;
}

.main-header {
    display: flex;
    background-color:khaki;
}

.main-header-title {
    font-size: 25px;
}

.main-navbar {
    display: flex;
}

.navbar-item {
    list-style: none;
    flex-direction: row;
    font-size: 20px;
}